@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*ESTILO GERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(37, 37, 37);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.img-logo {
  width: 80px;
}

img {
  width: 270px;
}

header {
  padding: 40px 7%;
  margin: 0 50px 0 10px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  width: 7vw;
}

.scale {
  transform: scale(1.5);
}
.scale:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.9);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 30px;
}

.botao-contato button, .botao-curriculo button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: #a58806;
  color: rgb(255, 255, 255);
}

.botao-contato button:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 17px rgb(255, 255, 255);
}

.botao-curriculo button:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 17px rgb(255, 255, 255);
}

.titulo {
  color: white;
  font-size: 35px;
  text-align: center;
}

.titulo span {
  color: #a58806;
}

h2.titulo-hard {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
}

h2.titulo-hard span {
  color: #a58806;
}

/* ESTILO DO TOPO DO SITE*/
section.topo-do-site {
  padding: 40px 7%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: white;
  font-size: 35px;
  line-height: 50px;
}

.topo-do-site h1 span {
  color: #a58806;
  font-size: 30px;
  line-height: 50px;
  display: block;
}

.topo-do-site .txt-topo-site p {
  color: white;
  margin: 40px 0;
  line-height: 25px;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
/*especialidades*/
section.especialidades {
  padding: 40px 7%;
}

section.especialidades .flex {
  gap: 30px;
}

section.especialidades .titulo {
  margin-top: 30px;
}

.especialidades .especialidades-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  margin-top: 45px;
  border: 1px solid rgba(255, 255, 255, 0.034);
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(92, 92, 92, 0.3215686275);
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.08);
  box-shadow: 0 0 17px white;
}

.especialidades .especialidades-box i {
  font-size: 90px;
  color: #a58806;
}

.especialidades .especialidades-box h3 {
  font-size: 22px;
  margin: 15px 0;
}

/*especialidade 2*/
section.especialidade {
  padding: 40px 7%;
}

section.especialidade .flex {
  gap: 30px;
}

.especialidade .especialidade-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  margin-top: -50px;
  border: 1px solid rgba(255, 255, 255, 0.034);
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(92, 92, 92, 0.3215686275);
  transition: 0.2s;
}

.especialidade .especialidade-box:hover {
  transform: scale(1.08);
  box-shadow: 0 0 17px white;
}

.especialidade .especialidade-box i {
  font-size: 90px;
  color: #a58806;
}

.especialidade .especialidade-box h3 {
  font-size: 22px;
  margin: 15px 0;
}

/* INICIO ESTILIZAÇÃO CARROSSEL PORTFOLIO */
.titulo-desktop {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

.titulo-desktop span {
  color: #a58806;
}

.swiper {
  width: 1100px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%; 
  margin: 0 auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 450px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 17px rgba(192, 192, 192, 0.753);
  border-radius: 20px;
  flex: 0 0 30%; 
  min-width: 250px; 
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  max-width: 100%;
  height: auto;
}

.swiper-slide h4 {
  text-align: center;
  font-size: 20;
  font-weight: 600px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.swiper-slide p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700px;
}

.botao-ver-todos {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.botao-ver-todos a {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.botao-ver-todos button {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  width: 230px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #a58806;
  color: #fff;
  font-size: 20px;
  font-weight: 600px;
  border: none;
  margin-bottom: 20px;
}

.botao-ver-todos button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 17px rgba(255, 255, 255, 0.753);
}

.botao-github {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.swiper-slide a {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper-slide a button {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  width: 105px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #a58806;
  color: #fff;
  font-size: 20px;
  font-weight: 600px;
  border: none;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 17px rgb(255, 255, 255);
}

.swiper-pagination-bullet {
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 25px;
}

.paragrafo-carrossel, .titulo-carrossel {
  color: #fff;
}
/* FIM ESTILIZAÇÃO CARROSSEL PORTFOLIO */

/* estilo do sobre*/
section.sobre {
  padding: 40px 7%;
}

section.sobre .flex {
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

section.sobre .interface .titulo {
  margin-bottom: -30px;
  margin-top: 30px;
  margin-right: 12px;
}

.sobre .txt-sobre {
  color: white;
}

.sobre .txt-sobre h2 {
  padding-top: 20px;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 25px;
}

.sobre .txt-sobre h2 span {
  color: #a58806;
}

.sobre .txt-sobre p {
  margin: 10px 0;
  line-height: 25px;
}

.sobre .botao-social button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #a58806;
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.sobre .botao-social button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 17px white;
}

.button-git {
  left: 40%;
}

.button-linkedin{
  left: 41%
}

.button-whatsapp {
  left: 42%;
}

footer {
  color: white;
  text-align: center;
  margin-bottom: 20px;  
}

.footer {
  height: 20px;
}

@media screen and (max-width: 850px) {
  .interface .logo img {
    width: 200px;
    display: none;
  }
  .sobre h2.titulo {
    padding-bottom: 30px;
  }
  .flex {
    flex-direction: column;
  }
  .menu-desktop {
    display: none;
  }

  .img-logo {
    width: 30vw;
  }

  .botao-contato {
    padding: 10px 80px 0 5px;
    width: 30vw;
    position: absolute;
    right: 25%;
  }
  
  .botao-curriculo {
    text-align: center;
    margin-bottom: 15px;
    height: 80px;
  }
  .topo-do-site h1 {
    color: white;
    font-size: 30px;
    line-height: 35px;
  }
  .topo-do-site h1 span {
    margin-top: 5px;
    color: #a58806;
    font-size: 20px;
    line-height: 35px;
    display: block;
  }
  .topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
  }
  .topo-do-site {
    padding: 20px 16%;
  }
  .topo-do-site .img-top img {
    width: 100%;
  }
  section.topo-do-site .flex {
    gap: 10px;
  }
  /* INICIO ESTILO HARD SKILLS MOBILE */
  h2.titulo-hard {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  h2.titulo-hard span {
    color: #a58806;
  }
  section.especialidades {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.especialidades .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .especialidades .especialidades-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.034);
    margin: 0;
    width: 152px;
    height: 152px;
    border-radius: 10px;
    background-color: rgba(92, 92, 92, 0.3215686275);
    transition: 0.2s;
  }
  .especialidade .especialidade-box i {
    font-size: 70px;
    color: #a58806;
  }
  .especialidade .especialidade-box h3 {
    font-size: 17px;
    margin: 15px 0;
  }
  section.especialidade {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.especialidade .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .especialidade .especialidade-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.034);
    width: 152px;
    margin: 0;
    height: 152px;
    border-radius: 10px;
    background-color: rgba(92, 92, 92, 0.3215686275);
    transition: 0.2s;
  }
  .especialidade {
    margin-top: -50px;
  }
  .especialidade .especialidade-box i {
    font-size: 85px;
    color: #a58806;
  }
  .especialidade .especialidade-box h3 {
    font-size: 22px;
    margin: 15px 0;
  }

  .h2-automatico {
    max-width: 90vw;
    word-wrap: break-word;
    display: grid;
  }

  .sobre {
    max-width: 90vw;
  }
  
  .button-git {
    left: 20%;
  }
  
  .button-linkedin{
    left: 21%
  }
  
  .button-whatsapp {
    left: 22%;
  }

  footer {
    max-width: 90vw;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .swiper-slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    flex: 0 0 100%;
  }
}